@import 'colors';

.navbar {
  background-color: $color-neutral;
  color: $color-light-text;
  margin-bottom: 15px;
}

span#follow-link {
  margin-left: 10px;
}

#vlogger-about {
  .profile-image {
    border-radius: 6px;
    //width: 320px;
    width: 100%;
  }
}

#video-archive {
  .video-card {
    margin: 10px;
    font-size: 11pt;
    .title {
      font-weight: bold;
    }
    .stats {
      margin-top: 3px;
    }
  }
}

#video-show {
  .title {
    margin-top: 10px;
  }
}